/*
  File name: style.css
  Student’s Name: Wing Cheung Kam
  StudentID: 301279106
  Date: 2023-JAN-22
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
  Style of navigation bar
*/
nav{
  height: 3rem;
  margin-bottom: 1rem;
}