<div>
    <div class="row">
        <div class="col-md-10">
            <h1>About Me</h1>
        </div>
        <div class="col-md-2"><a href="files/resume.pdf" class="float-right">Download Resume</a></div>
    </div>
    <div class="row">
    <div class="col-md-2 portrait">
        <img src="images/aboutMe/Portrait.JPG" class="img-fluid" alt="My Portrait" width="250px">
    </div>
    <div class="col-md-6">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat
        magna nec nibh luctus, sed pretium nulla bibendum. Proin augue velit,
        commodo vitae velit quis, consectetur porttitor nunc. Cras in augue sit
        amet odio condimentum consectetur sed congue augue. Curabitur luctus
        vehicula mauris. Suspendisse lobortis cursus leo, vitae varius turpis
        maximus at. Proin est mauris, ullamcorper vel metus at, ultricies placerat
        enim. Sed consectetur ullamcorper turpis. Duis sed varius nunc, vel cursus
        ipsum. Praesent consequat enim sit amet nibh gravida, quis hendrerit lacus
        ultricies. Etiam in sollicitudin eros. Sed a elementum velit, nec
        elementum lorem. Ut dapibus efficitur metus, at fringilla augue rhoncus
        tincidunt. Duis scelerisque suscipit nulla, sed rutrum ipsum laoreet nec.
        </p>
        <p>
        Donec elementum purus vel condimentum laoreet. In a mattis tellus. Sed
        consectetur nibh a mi vehicula convallis. Nulla facilisi. Mauris sed magna
        nisl. Vestibulum porta, magna lacinia bibendum blandit, augue leo
        sollicitudin augue, vitae convallis augue mauris sed mauris. Mauris
        consequat velit lorem. Ut scelerisque lacus neque, sit amet auctor massa
        porta nec. Praesent placerat, lorem in pellentesque facilisis, nisl ipsum
        tempus libero, ac posuere augue nibh vel ex. Maecenas faucibus libero et
        ipsum mollis efficitur. Curabitur id metus vel magna venenatis porta
        ullamcorper eu nibh. Duis condimentum ut nisi vel ullamcorper. Proin et
        sem arcu.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Experience</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Project</td>
                    <th scope="col">Year</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>2021-Presnet</td>
                </tr>
                <tr>
                    <td>consectetur adipiscing elit</td>
                    <td>2019-2021</td>
                </tr>
                <tr>
                    <td>Nulla venenatis tincidunt ligula</td>
                    <td>2016-2019</td>
                </tr>
                <tr>
                    <td>Proin augue velit</td>
                    <td>2015-2016</td>
                </tr>
                <tr>
                    <td>Sed consectetur nibh a mi vehicula convallis</td>
                    <td>2014-2015</td>
                </tr>
                <tr>
                    <td>Curabitur id metus vel magna</td>
                    <td>2013-2014</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
