<div>
  <div class="row">
    <div class="col-md-12"><h1>Services</h1></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group list-group-flush">
        <% for(var i=0; i < data.length; i++){ %>
        <li class="list-group-item"><%- data[i] %></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
